<div id="obrazac5">
<div id="obrazac5_naslov">
<h3 style="color:white;margin-left:10px;"><b>Editiraj: Ostala skate oprema</b></h3>
</div>
<% if signed_in? %>
<%= render 'shared/skate_ostalos_form' %>
<% end %>
</div>



