<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Neispravno su uneseni podaci
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li> <%= hrjezik(msg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
