<% if object.errors.any? %>
  <div id="error_explanation">
    <p style="margin-left:10px;margin-top:5px;font-weight:bold">Niste unjeli sve podatke ili ste pogrjesili pri unosu:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li> <%= hrjezik(msg) %></li>
    <% end %>
    </ul>
  </div>
<% end %>
