<ul id="sastrane">
<li><div class="glavni_sastrane">SKATEBOARDS</div></li>
<li><a href="/decks"><div class="sporedni_sastrane">Daske</div></a></li>
<li><a href="/wheels"><div class="sporedni_sastrane">Kotaci</div></a></li>
<li><a href="/trucks"><div class="sporedni_sastrane">Osovine</div></a></li>
<li><a href="/skates"><div class="sporedni_sastrane">Skate Kompleti</div></a></li>
<li><a href="/skate_ostalos"><div class="sporedni_sastrane">Ostala skate oprema</div></a></li>
<br/>
<li><div class="glavni_sastrane">ODJECA I OBUCA</div></li>
<li><a href="/garments"><div class="sporedni_sastrane">Odjeca</div></a></li>
<li><a href="/shoes"><div class="sporedni_sastrane">Tenisice</div></a></li>
<li><a href="/hats"><div class="sporedni_sastrane">Kape</div></a></li>
<li><a href="/clothing_ostalos"><div class="sporedni_sastrane">Ostalo</div></a><li>
</ul>

