@import "bootstrap";

.fixed_table { table-layout:fixed; }
.fixed_table th { 
overflow: hidden;
font-family:Tahoma;
font-size:14px;
}
.fixed_table td { 
font-family:Tahoma;
font-size:14px;
}
#traka_gore{
	width:101%;
background-image: linear-gradient(bottom, rgb(110,110,110) 49%, rgb(47,47,47) 50%);
background-image: -o-linear-gradient(bottom, rgb(110,110,110) 49%, rgb(47,47,47) 50%);
background-image: -moz-linear-gradient(bottom, rgb(110,110,110) 49%, rgb(47,47,47) 50%);
background-image: -webkit-linear-gradient(bottom, rgb(110,110,110) 49%, rgb(47,47,47) 50%);
background-image: -ms-linear-gradient(bottom, rgb(110,110,110) 49%, rgb(47,47,47) 50%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.49, rgb(110,110,110)),
	color-stop(0.5, rgb(47,47,47))
);
	height:40px;
	margin-top:0px;
	margin-left:-10px;
}
#daske_lista{
position:relative;
border:1px solid black;
top:100px;
min-width:300px;
max-width:500px;
left:50%;
margin-left:-250px;
background-color:#D2CECE;

-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
#skate_kompleti_lista{
position:relative;
border:1px solid black;
top:100px;
min-width:300px;
max-width:800px;
left:50%;
margin-left:-250px;
background-color:#D2CECE;
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
#kontenjer{
position:relative;
border:1px solid black;
width:1000px;
left:50%;
margin-left:-500px;
margin-top:100px;
}
#naslov{
text-align:center;
margin-top:5px;
}

div.pagination{
text-align:center;
}
#sastrane{
list-style-type:none;
width:150px;
position:absolute;
top:130px;
left:50%;
margin-left:-425px;
}

.sporedni_sastrane{
height:22px;
padding-top:3px;
margin-top:10px;
border:1px solid #ab2424;
text-align:center;
width:150px;
color:white;
font-weight:bold;

background-image: linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -o-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -moz-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -webkit-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -ms-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, #C62B35),
	color-stop(0.61, #C20E1A)
);

-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
}

.glavni_sastrane{
padding-top:8px;
margin-top:10px;
border:1px solid 6e6e6e;
text-align:center;
color:white;
width:150px;
font-weight:bold;
height:25px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;
background-color:#6e6e6e;
}

td{
	text-align:center;
}
input:focus, textarea:focus {
border-color:#c20e1a;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(194, 14, 26, 0.6);
}
#prva_traka{
	background-color:#2f2f2f;
	color:white;
}
#shs{
	position:absolute;
	margin-top:45px;
	left:50%;
	margin-left:-440px;

	font-family:Tahoma;
	font-size:14px;
	color:#979797;
}
#predaj_oglas{
	position:absolute;
	left:50%;
	margin-left:190px;
	margin-top:50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:130px;
	height:35px;
	
	text-align:center;
	vertical-align:text-bottom;

background-image: linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -o-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -moz-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -webkit-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);
background-image: -ms-linear-gradient(bottom, #C62B35 32%, #C20E1A 61%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, #C62B35),
	color-stop(0.61, #C20E1A)
);
}

#predaj_oglas h4{
color:white;
margin-top:10px;
font-family:Tahoma;
font-weight:bold;
}
#logo_puknuti{
	position:absolute;
	left:50%;
	margin-left:-150px;
	margin-top:20px;
}
#container{
	position:relative;

	height:480px;
	width:900px;
	top:100px;
	left:50%;
	margin-left:-450px;
}

#reklame{
	position:relative;

	width:380px;
	height:95px;
	left:50%;
	margin-left:-190px;
	top:50px;

}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 15px;
font-size:13px;
font-family:Tahoma;
font-weight:bold;
color:white;
}


#navlist{
	position: absolute;
	top:20px;
	left:50%;
	margin-left:-520px;
}
#navlist1 li
{
	display: inline;
	list-style-type: none;
	padding-right: 15px;
	font-family:Tahoma;
	font-weight: bold;
	color:white;
	font-size:13px;
}
#navlist1{
	position: absolute;
	top:20px;
	right:10px;
	left:50%;
	margin-left:155px;
}
#navlist a:link {color:#FFFFFF;} /* unvisited link */
#navlist a:visited {color:#FFFFFF;}  /* visited link */
#navlist a:hover {color:#c62e35;text-decoration:none;}  /* mouse over link */
#navlist a:active {color:#c62e35;}
#navlist1 a:link {color:#FFFFFF;} /* unvisited link */
#navlist1 a:visited {color:#FFFFFF;}  /* visited link */
#navlist1 a:hover {color:#c62e35;text-decoration:none;}  /* mouse over link */
#navlist1 a:active {color:#c62e35;}

a:link {color:#c20e1a;} /* unvisited link */
a:visited {color:#c20e1a;}  /* visited link */
a:hover {color:#c20e1a;text-decoration:none;}  /* mouse over link */
a:active {color:#c20e1a;}

#prva_traka a:link {color:#fa3f4b;} /* unvisited link */
#prva_traka a:visited {color:#fa3f4b;}  /* visited link */
#prva_traka a:hover {color:#fa3f4b;text-decoration:none;}  /* mouse over link */
#prva_traka a:active {color:#fa3f4b;}


a { text-decoration:none; }
	#gore
        {
                position:absolute;
                margin-left:250px;
                margin-top:82px;
        }

        body
        {
                background-color:white ;
        }

        #header
        {
                position:absolute;
                margin-top:-10px;
        }
	#footer
	{
		position:absolute;
		right: 10px;
		margin-top:4px;
	}

	#footer ul{
		list-style-type:none;
	}

	#footer li{
		display:inline;
		margin-left: 0.5em;
	}

	#navigacija li
	{
		font-size:100%;
	}

	@mixin box_sizing 
	{
 	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box;
	}
	
	.debug_dump {
 		 clear: both;
 		 float: left;
 		 width: 100%;
 		 margin-top: 950px;
 		 @include box_sizing;
	 }

	#user_ime{
	position: absolute;
	font-size:28px;
	margin-top:60px;
	margin-left:250px;
	}	

	#user_info{
	position: absolute;
	margin-top: 100px;
	margin-left: 255px;
	}
	
	.row
	{
	position:absolute;
	margin-top: 120px;
	margin-left: -10px;
	}

	input, textarea, select, .uneditable-input {
 	 border: 1px solid #bbb;
 	 width: 350px;
	 padding: 10px;
 	 height: 35px;
 	 margin-bottom: 15px;
 	 @include box_sizing;
	}

	#error_explanation {
  		color: #f00;
  		ul {
  		  list-style: none;
  		  margin: 0 0 18px 0;
  		}
	}

	.field_with_errors {
		  @extend .control-group;
		  @extend .error;
	 }
	
	.alert
	{
	position:absolute;
	margin-top:10px;
	margin-left:250px;
	}
	.alert-success
	{
	background-color:#E0E0E0;
	border-color:#E0E0E0;
	}
	#sve_daske{
	border:1px solid black;
	position: absolute;
        margin-top:110px;
        margin-left:450px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	}
	
	#pojedinacna_daska{
	position: absolute;
	margin-top:80px;
	margin-left:250px;
	}
	
	#deck_dodatan_opis{
	height:103px;
	}
	#wheel_dodatan_opis{
        height:103px;
        }

	#lijevo{
	margin-left:400px;
	margin-top:-710px;
	}
